.item-container {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #000;
    width: 600px; /* Adjust width as needed */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Gap between grid items */
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    color: black
}

.inventory {
    color: black;
    font-size: larger;
    font-weight: bold;
}