* {
    box-sizing: border-box;
}

.top-navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px; 
    background-color: #ffcc00; 
    border-bottom: 2px solid #ff9900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.site-logo {
    width: 100px; 
    height: auto; 
    margin-right: 20px;
}

.nav-boxes {
    display: flex;
}

.nav-box {
    background-color: #ffcc00; 
    color: #8a772d;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif; 
    font-size: 40px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-box:hover {
    background-color: #ff9900;
}

.small-nav-box {
    background-color: #ffcc00;
    color: #8a772d;  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.small-nav-box:hover {
    background-color: #ff9900;
}