@font-face {
  font-family: 'BrightAzure';
  src: local('BrightAzure'), url(../../assets/fonts/BrightAzure-x392V.ttf) format('truetype');
}

@font-face {
  font-family: 'MarchFrost';
  src: local('MarchFrost'), url(../../assets/fonts/MarchFrost-z8nx1.ttf) format('truetype');
}

@font-face {
  font-family: 'Dearkatienbp';
  src: local('Dearkatienbp'), url(../../assets/fonts/Dearkatienbp-nZeg.ttf) format('truetype');
}

.codeBlock {
  border: 5px;
  border-color: rgba(255, 255, 255, 0.774);
  border-style: solid;
  border-radius:12px;
  min-height: 26px;
  color: whitesmoke;
  padding: 3px;
  margin: 0px;
}


.codeBlock-Number {
  background-color: rgb(153, 60, 76);
  border-color: rgb(231, 185, 193);
  min-width: 30px;
}

.codeBlock-Operator {
  background-color: rgb(61, 134, 43);
  border-color: rgb(175, 223, 163);
  min-width: 100px; 
}

.codeBlock-Function {
  background-color:rgb(15, 104, 145);
  border-color: rgb(147, 191, 211);
  min-width: 200px;
}

.workbench {
  background-color: rgba(206, 205, 205, 0.274);
  width: 230px;
  height: 260px;
  border: 0;
  border-color: black;
  border-style: none;

}

.workbench-left {
  position:relative;
  top:136px;
  left:312px;
}

.workbench-right {
  position:relative;
  top:136px;
  left:-312px;
}

.currency {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  width : 200px;
  height: 50px;
  position:relative;
  top: 110px;
  left: 450px;  padding: 2px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.codeBoxContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.noteContainer {
  color: black;
  background-color: rgba(241, 231, 91, 0.897);
  width : 116px;
  height: 105px;
  position:relative;
  top: 213px;
  left: 86px;
  padding: 5px;
  margin: 0px;
  font-family: Dearkatienbp;
  font-size:larger;
}


.benchContainer {
  background-image: url('../assets/Workbench-2.png');
  background-position: 'center';
  background-size: 'cover';
  background-repeat: none;
  background-size:100% 100%;
  width: 1100px;
  height: 700px;
}