@font-face {
  font-family: 'BrightAzure';
  src: local('BrightAzure'), url(../../assets/fonts/BrightAzure-x392V.ttf) format('truetype');
}

@font-face {
  font-family: 'MarchFrost';
  src: local('MarchFrost'), url(../../assets/fonts/MarchFrost-z8nx1.ttf) format('truetype');
}

@font-face {
  font-family: 'Dearkatienbp';
  src: local('Dearkatienbp'), url(../../assets/fonts/Dearkatienbp-nZeg.ttf) format('truetype');
}

.codeBlock {
  border: 1px;
  border-color: rgb(10, 10, 10, 0.1);
  border-style: solid;
  border-radius: 8px;
  min-height: 26px;
  color: whitesmoke;
}


.codeBlock-Number {
  background-color: rgb(153, 60, 76);
  width: 30px;
}

.codeBlock-Operator {
  background-color: rgb(61, 134, 43);
  width: 100px; 
}

.codeBlock-Function {
  background-color:rgb(15, 104, 145);
  width: 200px;
}

.workbench {
  background-color: rgb(10, 10, 10, 0.03);
  width: 200px;
  height: 300px;
  border: 0;
  border-color: black;
  border-style: none;

}

.workbench-left {
  position:absolute;
  top:43%;
  left:28%;
}

.workbench-right {
  position:absolute;
  top:43%;
  left:50%;
}

.currency {
  background-color: black;
  width : 220px;
  position:absolute;
  top: 30%;
  left: 6%;
}

.codeBoxContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.noteContainer {
  color: black;
  background-color: rgb(241, 231, 91);
  width : 220px;
  height: 100px;
  position:absolute;
  top: 30%;
  left: 30%;
  padding: 10px;
  font-family: Dearkatienbp;
  font-size:x-large;
}


.benchContainer {
  background-image: url('../assets/Workbench.png');
  background-position: 'center';
  background-size: 'cover';
  background-repeat: none;
  background-size:100% 100%;
  width: 1100px;
  height: 700px;
}